{% extends 'pages/base.html' %}
{% load static %}
{% block value_hidden %}
{#    <input id="all_query" hidden name="{{ paginator.object_list }}">#}
{% endblock %}
{% block content %}
    <div class="div_content general_format" id="content">
        <table class="tb_content">
            <thead>
                <tr class="tr_content">
                    <th>Id</th>
                    <th>User</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody class="tb-body">
                {% include "pages/table_content.html" %}
            </tbody>
        </table>
        <div class="div_paginator">
            {% if is_paginated %}
                {#-------------- previous page  -----------------#}
                    <button class="bt_pages" id="previous">&laquo;PRE</button>
                {#-------------- page range -----------------#}
                {% for p in paginator.page_range %}
                    <button class="bt_pages" id="page-range-{{ p }}">{{ p }}</button>
                {% endfor %}
                {#-------------- next page -----------------#}
                    <button class="bt_pages" id="next" name="{{ paginator.num_pages }}"> NEXT &raquo;</button>
            {% endif %}
        </div>
    </div>
 {# ---------------------modal_detail--------------------------- #}
        {% include "pages/modal_detail.html" %}
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal_detail.js' %}"></script>

{% endblock %}