{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
<div class="div_content general_format" id="content" style="background-color: darkseagreen">
    <table class="tb_content">
        <tr class="tr_content">
            <th>Id</th>
            <th>User</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
        {% for product in products %}
        <tr class="tr_content">
            <td>{{ product.id }}</td>
            <td>{{ product.user }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
            <td class="td_descript">{{ product.description }}</td>
            <td><a href="https://www.google.com/"><img src="{{ product.image.url }}" width=100 height=85></a></td>
        </tr>
        {% endfor %}
        <tr class="tr_content">
            <td colspan="6" style="border: hidden; border-top: 2px solid #78e5cb">
                {% if is_paginated %}
        {#-------------- previous page  -----------------#}
                    {% if pages.has_previous %}
                        <a id="bt_previous" href="?page={{ pages.previous_page_number }}"><button>&laquo;PRE</button></a>
                    {% endif %}
        {#-------------- page range -----------------#}
                    {% for p in paginator.page_range %}
                        <a href="?page={{ p }}" id="page_{{ p }}">{{ p }}</a>
                    {% endfor %}
        {#-------------- next page -----------------#}
                    {% if pages.has_next %}
                        <a id="bt_next" href="?page={{ pages.next_page_number }}"><button> NEXT &raquo;</button></a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" src="{% static 'js/base.js' %}"></script>

{% endblock %}