html{
    font-family: "Times New Roman";
    font-size: 14px;
}
body{
    background-color: #eaf3f2;
    overflow-x: hidden;
}
header{
    width: 100%;
    background-color: #5d8adc;
    display: flex;
    border-right: 16px solid #5d8adc;
    margin-left: -8px;
    margin-top: -8px;
}
#div_wellcome{
    width: 60%;
    background-color: yellow;
}
#div_something{
    width: 30%;
    background-color:red;
    /*text-align:center;*/
    align-items: center;
    display: flex;
}
#div_something p{
    flex: 1;
    text-align:center;
}
.div_filter{
    background-color:yellowgreen;
}
.general_format{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 14.1rem;
    padding-right: 25rem;
}
.into_td_filter{
    height: 1.5rem;
    font-size: 1.1rem;
    text-align: center;
}
.tb_content, .tr_content > th, .tr_content > td{
    border: 2px solid #e7d832;
    border-collapse: collapse;
    width: auto;
    text-align: center;
    padding: 5px;
}
.tb_content{
    width: 100%;
    font-size: 1.2rem;
    background-color: rgba(248, 218, 14, 0.2);
}
.tr_content > th{
    background-color:rgba(248, 218, 14, 0.5);
}
td.td_descript{
    text-align: justify;
    margin-block-start: 0;
    margin-block-end: 0;
}
.div_paginator{
    text-align: center;
    padding-top: 1rem;
}
.bt_pages:hover{
    background-color: #4bf5e5;
}




















